.gallery-card-list {
  position: relative;
  width: 10em;
  height: 15.8em;
  margin: 2em;
  display: block;
}
.gallery-card {
  display: flex;
  position: absolute;
  z-index: 3;
  top: 0;
  right: 0;
  max-height: fit-content;
  max-width: fit-content;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 1em 1em 0em 1em;
  border-radius: 2em;
  background: linear-gradient(45deg, rgb(239, 140, 156), rgb(237, 93, 93));
  color: white;
  animation: 1s zoomIn;
  transition: max-height 0.5s, transform 0.5s, top 0.5s;
  box-shadow: 0em 0em 1em rgb(98, 69, 30);
}
.gallery-card .hover-information {
  transform: scale(0);
  transition: transform 0.5s;
}
.gallery-card:hover .hover-information {
  transform: scale(1);
}
.gallery-card:hover {
  flex-direction: column;
  max-height: fit-content;
  max-width: 10em;
  padding: 1em;
  z-index: 5;
  top: -5em;
  transform: scale(1.2);
}
.gallery-card:hover .beaten-info {
  transform: scale(1);
}
.gallery-card:hover p {
  opacity: 1;
  max-height: 20em;
  transform: scale(1);
}
.gallery-card:hover .more-info {
  transform: scale(1);
}
.gallery-card:hover button {
  transform: scale(1);
}
.gallery-card .beaten-info {
  transform: scale(0);
  transition: transform 0.5s;
}
.close {
  transform: scale(0);
  opacity: 0;
  transition: transform 0.4s, opacity 0.4s;
}
.focus {
  z-index: 4;
}
.hamster-image {
  aspect-ratio: 1 / 1;
  height: 7em;
  width: auto;
  border-radius: 100%;
  object-fit: cover;
  box-shadow: 0em 0em 1em rgba(0, 0, 0, 0.536);
}
.gallery-card p {
  display: flex;
  max-height: 0;
  font-size: 0.7em;
  opacity: 0;
  transform: scale(0);
  transition: max-height 0.5s, transform 0.5s;
}
.gallery-card button {
  text-transform: uppercase;
  font-size: 0.7em;
  color: rgb(224, 120, 120);
  border-radius: 2em;
  margin: 0 auto;
  padding: 0.5em;
  background-color: rgba(255, 255, 255, 0.5);
  border: solid transparent;
  cursor: pointer;
  transition: color 0.5s, background-color 0.5s, border 0.5s, transform 0.5s;
  transform: scale(0);
}
.gallery-card button:hover {
  color: rgb(0, 0, 0);
  background-color: rgba(255, 255, 255, 0.164);
  border: solid black;
}
.gallery-card:hover .beaten-info {
  transform: scale(1);
}
.beaten-info {
  position: absolute;
  top: 1em;
  right: 1em;
  background-color: rgba(255, 255, 255, 0.5);
  color: rgb(224, 120, 120);
  border-radius: 100%;
  transform: scale(0);
  width: 1.2em;
  height: 1.2em;
  text-align: center;
  transition: background-color 0.5s;
  cursor: pointer;
}
.beaten-info:hover {
  background-color: rgba(255, 255, 255, 0.3);
  cursor: pointer;
}
.beaten-info::before {
  content: 'Besegrade';
  display: block;
  font-size: 0.8em;
  width: 10em;
  color: rgba(255, 255, 255, 0.641);
  position: absolute;
  right: 0em;
}
.beaten-container {
  position: absolute;
  right: 0em;
  top: -9em;
  animation: 1s zoomInSmall;
  background: linear-gradient(45deg, rgb(239, 140, 156), rgb(237, 93, 93));
  width: 10em;
  z-index: 4;
  border-radius: 2em;
  box-shadow: 0em 0em 1em rgb(98, 69, 30);
}
@keyframes zoomIn {
  0% {
    transform: scale(0.2);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes zoomInfo {
  0% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes zoomInSmall {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
