.slackers {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 3em;
}
.fighter-hamsters,
.slacker-hamsters {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 0 3em;
}

.slackers h2,
.slackers > h3 {
  background: linear-gradient(45deg, rgb(239, 140, 156), rgb(237, 93, 93));
  background-clip: text;
  text-align: center;
  color: white;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
