.sub-nav {
  display: flex;
  height: 4em;
  justify-content: center;
  align-items: center;
}

.sub-nav a {
  display: flex;
  align-items: center;
  padding: 0 2em;
  height: 2em;
  z-index: 2;
  text-decoration: none;
}
.sub-nav a p {
  text-transform: uppercase;
  font-weight: 700;
  background: linear-gradient(45deg, rgb(247, 182, 193), rgb(237, 93, 93));
  background-clip: text;
  text-decoration: none;
  transition: transform 0.3s, text-shadow 0.3s;
  color: white;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.sub-nav a:hover {
  transform: scale(1.1);
  text-shadow: 0 0 5px rgba(229, 112, 112, 0.627);
}
.Gallery {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 4em;
  margin-top: 1em;
  margin-bottom: 2em;
  flex-direction: column;
  z-index: 1;
}
.Gallery h2:not(.add-new-hamster h2) {
  display: block;
  text-align: center;
  z-index: 2;
  background: linear-gradient(45deg, rgb(239, 140, 156), rgb(237, 93, 93));
  background-clip: text;
  color: white;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.hamster-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  padding: 0;
  z-index: 2;
}
.add-hamster-container {
  position: fixed;
  right: 2em;
  bottom: 2em;
  z-index: 3;
  border-radius: 100%;
}
.uploading {
  position: absolute;
  top: 7em;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.353);
  width: 10em;
  height: 10em;
  z-index: 5;
  border-radius: 100%;
}
i.icon.icon-back {
  vertical-align: top !important;
}
.add-hamster-container button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  box-sizing: content-box;
  height: 1.7em;
  width: 1.7em;
  font-size: 1.5em;
  background: linear-gradient(45deg, rgb(239, 140, 156), rgb(237, 93, 93));
  color: white;
  border: none;
  border-radius: 100%;
  transition: box-shadow 0.2s, color 0.2s, transform 0.2s;
}
.add-hamster-container button:hover {
  box-shadow: inset 2px 2px 10px rgba(79, 22, 22, 0.4);
  color: rgba(213, 213, 213, 0.8);
  cursor: pointer;
  transform: scale(1.2);
}
.add-hamster-container::after {
  content: 'Lägg till en ny hamster';
  background: linear-gradient(45deg, rgb(239, 140, 156), rgb(237, 93, 93));
  position: absolute;
  right: -4em;
  top: 0em;
  opacity: 0;
  width: 10.3em;
  display: block;
  color: white;
  padding: 0.7em;
  font-size: 1em;
  transform: scaleX(0);
  transition: transform 0.2s, right 0.2s, box-shadow 0.2s, opacity 0.3s;
  border-radius: 2em;
}
.add-hamster-container:hover::after {
  box-shadow: 0em 0em 1em rgb(98, 69, 30);
  transform: scaleX(1);
  opacity: 1;
  right: 3em;
}
.container-add-new {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  z-index: 4;
  top: 0;
  right: 0;
}
.add-new-hamster {
  background: linear-gradient(45deg, rgb(239, 140, 156), rgb(237, 93, 93));
  box-shadow: 0em 0em 1em rgb(98, 69, 30);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  animation: 0.4s fadeIn;
  max-height: 32em;
  max-width: 30em;
  width: 80%;
  height: 85%;
  z-index: 10;
  border-radius: 2em;
}
.add-new-hamster h2 {
  color: white;
  padding: 0.3em;
}
.add-new-hamster .hamster-image {
  height: 20%;
  width: auto;
  aspect-ratio: 1 / 1;
  padding: 0.2em;
  margin-bottom: 1em;
  border-radius: 100%;
  object-fit: cover;
  border: solid transparent 0.2em;
  transition: border 1s;
}
.add-new-hamster .hamster-image:hover {
  border: solid rgb(209, 97, 97) 0.2em;
}
.container-add-new::before {
  content: '';
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  animation: 0.2s fadeIn;
  height: 100vh;
  width: 100vw;
  z-index: 0;
  backdrop-filter: blur(4px);
}
.add-new-hamster button {
  text-transform: uppercase;
  font-size: 0.7em;
  color: rgb(224, 120, 120);
  border-radius: 2em;
  margin: 0 0.3em;
  padding: 0.5em;
  background-color: rgba(255, 255, 255, 0.5);
  border: solid transparent;
  cursor: pointer;
  transition: color 0.5s, background-color 0.5s, border 0.5s;
}
.add-new-hamster input {
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  font-family: 'Nunito', sans-serif;
  width: 100%;
  max-width: 15em;
  height: 1.6em;
  font-size: 1em;
  color: black;
  text-shadow: 0px 0px 5px #0000002d;
  margin: 0 1em 0.5em 1em;
  border-radius: 2em;
  text-align: center;
  transition: background-color 0.5s;
}
.add-new-hamster > h2 {
  text-align: center;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type='number'] {
  -moz-appearance: textfield;
}
.input-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
}
.warning {
  background-color: rgba(255, 255, 255, 0.5);
  color: rgb(224, 120, 120);
  border-radius: 100%;
  width: 1.2em;
  height: 1.2em;
  text-align: center;
  position: absolute;
  right: 10%;
  top: 0.3em;
  transition: background-color 0.5s;
  cursor: pointer;
}
.warning:hover {
  background-color: rgba(255, 255, 255, 0.3);
}
.warning:hover::after {
  content: attr(warning-message);
  background-color: rgba(251, 187, 187, 0.8);
  backdrop-filter: blur(10px);
  color: white;
  animation: fadeIn 0.5s;
  font-size: 0.8em;
  position: absolute;
  right: -12em;
  top: -1em;
  width: 10em;
  padding: 1em;
  border-radius: 2em;
}
.add-new-hamster input::placeholder {
  color: rgb(224, 120, 120);
}
.add-new-hamster input:hover {
  background-color: rgba(255, 255, 255, 0.4);
}
.add-new-hamster button:not(.add-new-hamster button:disabled):hover {
  background-color: rgba(0, 0, 0, 0.164);
  border: solid black;
  color: black;
}
.add-new-hamster button:disabled {
  background-color: rgba(128, 128, 128, 0.4);
  color: rgba(0, 0, 0, 0.631);
  cursor: not-allowed;
}
.file-upload {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(224, 120, 120);
  text-shadow: 0px 0px 5px #0000002d;
  transition: color 0.5s, background-color 0.5s;
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  width: calc(100% + 4px);
  max-width: calc(15em + 4px);
  height: calc(1.6em + 2px);
  font-size: 1em;
  text-shadow: 0px 0px 5px #0000002d;
  margin: 0 1em 0.5em 1em;
  border-radius: 2em;
  text-align: center;
}
.file-upload:hover {
  color: rgb(0, 0, 0);
  background-color: rgba(255, 255, 255, 0.164);
  cursor: pointer;
}
.upload-input {
  display: none;
}

@media screen and (max-width: 800px) {
  .add-new-hamster input,
  .file-upload,
  .warning {
    font-size: 0.7em;
  }
  .add-new-hamster button {
    font-size: 0.5em;
  }
}
@media screen and (max-width: 600px) {
  .sub-nav {
    height: 6em;
    flex-direction: column;
    margin-top: 1em;
  }
}
@media screen and (max-width: 1000px) {
  .warning:hover::after {
    top: -6em;
    right: -5em;
  }
}

@keyframes zoomInTooltip {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
