.hamster-card {
  position: relative;
  height: 2em;
  width: 2em;
  background: linear-gradient(45deg, rgb(239, 140, 156), rgb(237, 93, 93));
  padding: 2em;
  box-shadow: 0em 0em 1em rgb(98, 69, 30);
  transition: transform 0.5s, box-shadow 0.5s, border-radius 0.5s,
    height 5s width 5s;
  color: white;
  z-index: 4;
  transform: scale(0.1);
  border-radius: 100%;
}
.loaded-hamster {
  animation: 2s 1 growAfterAnimation;
  height: 22em;
  width: 12em;
  transform: scale(1);
  transition: transform 0.5s;
  border-radius: 2em;
}
.choose-hamster {
  background-color: rgba(255, 255, 255, 0.541);
  backdrop-filter: blur(3px);
  border-radius: 2em;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: opacity 0.5s;
  opacity: 0;
  cursor: pointer;
}
.choose-hamster:hover {
  opacity: 1;
}
.loaded-hamster:hover {
  transform: scale(1.06);
  box-shadow: 0em 0em 3em rgb(85, 73, 39);
}
.hamster-card::before {
  content: attr(data-before);
  background-color: rgba(255, 255, 255, 0.541);
  backdrop-filter: blur(3px);
  color: black;
  border-radius: 2em;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: opacity 0.5s;
  opacity: 0;
  cursor: pointer;
  z-index: 10;
}
.hamster-card:hover::before {
  opacity: 1;
}
.hamster-card > p {
  width: 12em;
}
.hamster-card .hamster-img {
  animation: 3s 1 growImg;
  width: 12em;
  height: 12em;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 0em 0em 2em rgba(0, 0, 0, 0.647);
}

@keyframes growImg {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes growAfterAnimation {
  0% {
    transform: scale(0.05);
    z-index: 4;
    height: 2em;
    width: 2em;
  }
  100% {
    z-index: 4;
    transform: scale(1);
    height: 22em;
    width: 12em;
  }
}
