.game-card {
  display: flex;
  animation: fadeInAndGrow 1s;
  position: relative;
  justify-content: space-between;
  align-items: center;
  height: 2.5em;
  margin: 0.5em 2em;
  width: 80%;
  z-index: 3;
  border-radius: 2em;
  background: linear-gradient(45deg, rgb(239, 140, 156), rgb(237, 93, 93));
  box-shadow: 0em 0em 1em rgb(98, 69, 30);
  transition: transform 0.3s, text-shadow 0.3s;
}
.game-card:hover {
  transform: scale(1.05);
  text-shadow: 0px 0px 5px #fafafa;
  cursor: default;
}
.game-winner-container,
.game-loser-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  z-index: 3;
}
.game-image {
  height: 2em;
  width: 2em;
  margin: 0.2em;
  object-fit: cover;
  border-radius: 100%;
}
.game-card p {
  color: white;
}
.results {
  text-transform: uppercase;
  margin: 0 2em;
  color: white;
  font-size: 0.9em;
}
.delete-match-button {
  opacity: 0;
  display: flex;
  justify-content: center;
  background-color: transparent;
  align-items: center;
  width: 2em;
  height: 2em;
  padding-bottom: 0.2em;
  position: absolute;
  font-size: 1.2em;
  border-radius: 100%;

  right: -2em;
  font-weight: 700;

  border: transparent;
}
.delete-match-button p {
  font-family: 'Nunito', 'Roboto', sans-serif;
  background: linear-gradient(45deg, rgb(239, 140, 156), rgb(237, 93, 93));
  background-clip: text;
  color: white;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.game-card:hover .delete-match-button {
  transition: opacity 0.5s;
  opacity: 1;
}

.delete-match-button:hover {
  border: solid rgb(210, 93, 93) 1px;
  transition: border 0.5s;
}
@media screen and (max-width: 950px) {
  .game-card {
    height: 5em;
    flex-direction: column;
    border-radius: 1em;
  }
  .game-winner-container,
  .game-loser-container {
    flex-direction: row;
    align-items: center;
    height: 2.5em;
    justify-content: space-between;
  }
  .results {
    display: block;
    width: 30%;
    margin: 0 2em 0 0.5em;
  }
  .game-winner-container {
    flex-direction: row-reverse;
    border-bottom: 1px solid rgba(255, 255, 255, 0.492);
  }
  .delete-match-button {
    top: 1em;
    background-color: rgba(255, 255, 255, 0.7);
    right: 2em;
  }
  .delete-match-button p {
    background: none;
    color: rgb(226, 94, 94);
    background-clip: none;
    -webkit-background-clip: none;
    -webkit-text-fill-color: rgb(226, 94, 94);
  }
  .delete-match-button:hover {
    background-color: rgba(107, 58, 58, 0.7);
  }
}

@keyframes fadeInAndGrow {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
