html,
body {
  margin: 0;
  padding: 0;
  max-width: 100%;
  overflow-x: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
body::-webkit-scrollbar {
  display: none;
}
.App {
  touch-action: none;
  touch-action: pan-y;
  min-height: 100vh;
  background-color: white;
  font-size: 1.3em;
  overflow-x: hidden;
}
main {
  min-height: 100vh;
}
.logo-container {
  width: 10em;
}
.header-logo {
  height: 4em;
}
.header-logo:hover {
  animation: wiggle 500ms infinite;
}
.mobile-nav {
  display: none;
}
.desktop-nav {
  background: linear-gradient(45deg, rgb(239, 140, 156), rgb(237, 93, 93));
  box-shadow: inset 5px 5px 10px #1e212779;
  height: 6em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 4em;
  z-index: -2;
}
.desktop-nav .desk-nav {
  position: relative;
  z-index: 0;
  color: rgb(243, 232, 219);
  text-transform: uppercase;
  border-radius: 10px;
  text-decoration: none;
  display: flex;
  height: 4em;
  width: 10em;
  justify-content: center;
  align-items: center;
  transition: text-shadow 0.4s;
}
.desktop-nav .desk-nav:hover {
  text-shadow: 0px 0px 5px #fafafa;
}
.desktop-nav .desk-nav::before {
  position: absolute;
  pointer-events: none;
  z-index: 0;
  top: 5em;
  content: '';
  background-color: white;
  transition: top 0.4s;
  border-radius: 80%;
  height: 15em;
  width: 15em;
  cursor: default;
  clip: rect(0px 400px 50px 0px);
}
.desktop-nav .active::before {
  border-radius: 50%;
  top: 3em;
}
.desktop-nav .desk-nav:hover::before {
  top: 3.5em;
}
footer {
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: inset 5px 5px 10px #1e212766;
  background: linear-gradient(45deg, rgb(239, 140, 156), rgb(237, 93, 93));
  margin-top: 2em;
  height: 3em;
}
footer p {
  transition: text-shadow 0.2s;
  padding: 0 1em;
  color: white;
  cursor: default;
}
footer p:hover {
  text-shadow: 0px 0px 5px #fafafa;
}

@media screen and (max-width: 900px) {
  .desktop-nav {
    display: none;
  }
  .logo-container {
    width: 4em;
  }
  .header-logo {
    height: 2.5em;
  }
  .mobile-nav {
    background: linear-gradient(45deg, rgb(239, 140, 156), rgb(237, 93, 93));
    box-shadow: inset 5px 5px 10px #1e2127ae;
    height: 6em;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 2em;
    z-index: 10;
    overflow: hidden;
  }
  .mobile-nav h1 {
    display: block;
    margin-right: 1.3em;
    color: white;
    font-weight: 300;
  }
  .menu {
    position: absolute;
    display: flex;
    width: 8em;
    top: 5.9em;
    right: 0;
    /* transform: translateX(10em); */
    transform: scaleX(0);
    transform-origin: 100%;
    flex-direction: column;
    border-radius: 1em 0 0 1em;
    background: linear-gradient(45deg, rgb(239, 140, 156), rgb(237, 93, 93));
    padding: 1em;
    opacity: 0.8;
    transition: transform 0.5s, opacity 0.5s, box-shadow 0.5s;
    z-index: 5;
  }
  .menu a {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    transform: scale(0);
    text-decoration: none;
    text-transform: uppercase;
    width: 100%;
    height: 2em;
    color: white;
    z-index: 5;
  }
  .open-menu a {
    transform: scale(1);
  }
  .open-menu .nav-home {
    transition: text-shadow 0.4s, transform 0.5s 0.2s;
  }
  .open-menu .nav-fight {
    transition: text-shadow 0.4s, transform 0.5s 0.3s;
  }
  .open-menu .nav-gallery {
    transition: text-shadow 0.4s, transform 0.5s 0.4s;
  }
  .open-menu .nav-stats {
    transition: text-shadow 0.4s, transform 0.5s 0.5s;
  }
  .open-menu .nav-history {
    transition: text-shadow 0.4s, transform 0.5s 0.6s;
  }
  .menu a:hover {
    text-shadow: 0px 0px 5px #fafafa;
  }
  .menu .active {
    text-shadow: 0px 0px 5px #fafafa;
  }
  .menu .active::after {
    content: '';
    position: absolute;
    right: 0.5em;
    width: 0;
    height: 0;
    border-radius: 0.2em;
    border-top: 0.5em solid transparent;
    border-right: 1em solid rgb(255, 255, 255);
    border-bottom: 0.5em solid transparent;
  }
  .open-menu {
    opacity: 1;
    transform: scaleX(1);
    box-shadow: 0em 0em 1em rgba(0, 0, 0, 0.468);
  }
  .hamburger {
    position: absolute;
    top: 1.5em;
    right: 1em;
    display: flex;
    height: 3em;
    width: 3em;
    flex-direction: column;
    cursor: pointer;
    gap: 0.2em;
  }
  .hamburger:hover .line {
    box-shadow: 0px 0px 5px #fafafa;
  }
  .line {
    position: absolute;
    height: 0.1em;
    width: 1em;
    right: 1em;
    background-color: white;
    border-radius: 1em;
    transition: transform 0.5s, opacity 0.5s, top 0.5s, box-shadow 0.4s;
  }
  .line1 {
    top: 1.2em;
  }
  .line2 {
    top: 1.5em;
  }
  .line3 {
    top: 1.8em;
  }

  .open .line1 {
    transform: rotate(45deg);
    position: absolute;
    top: 1.5em;
  }
  .open .line2 {
    opacity: 0;
  }
  .open .line3 {
    transform: rotate(-45deg);
    position: absolute;
    top: 1.5em;
  }
}

@keyframes wiggle {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(10deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-10deg);
  }
}
